{% extends 'admin/base.admin.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="text-center" style="padding-top:2%">
    <h1>Accueil</h1>
    <br>
    <br>
    <h3>Bienvenue, vous êtes connecté en tant qu'administrateur, pour effectuer la gestion du blog référez-vous à la barre de navigation</h3>
</div>
{% endblock %}
