{% extends 'admin/base.admin.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block body %}

<div class="container text-center">
    <h1 class="my-4">Bienvenue dans la partie Administration</h1>
    <p style="font-size:150%">Vous pouvez désormais effectuer la gestion de <b class="text-info">BloggyBlog</b></p>
    <p style="font-size:120%">Il vous suffit d'utiliser les menus de la barre de navigation</p>
</div>
   


{% endblock %}
