{% extends 'admin/base.admin.html.twig' %}

{% block title %}Edit une catégorie{% endblock %}

{% block body %}
     <h1 class="text-center mt-4">Editer une catégorie</h1>
    <br>
    <div class="container w-50">
        <form name="category" method="post">
            <div id="category"
                {{ form_row(formView.name) }}
                 <div class="form-group">
                    <button type="submit" id="category_Valider" name="category[Valider]" class="btn btn-info btn-block w-50 mx-auto">Valider</button>
                </div>
                {{ form_widget(formView._token) }} 
            </div>
        </form>
    </div>
{% endblock %}