{% extends 'admin/base.admin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Liste des catégories</h1>
	<br>
    <div class="container text-center">
        <div class="row row-cols-3">
        {% for category in categories %}
            <div class="col mb-3">
                <div class="card w-100 mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-text">Nombre de posts : {{ getNbPosts(category.id) }}</p>
                    <a href="http://symfony.iut/admin/category/{{ category.id }}" class="btn btn-info">Afficher la catégorie</a>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}