{% extends 'admin/base.admin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des catégories</h1>
    <br>
    {% for category in categories %}
        {{ category.id}}
        <br>
        {{category.name}}
        <br>
        <a href="http://symfony.iut/admin/category/{{category.id}}/edit">Modifier la catégorie</a>
        <a href="http://symfony.iut/admin/category/{{category.id}}/remove">Supprimer la Catégorie</a>
        <br>
        <br>
    {% endfor %}
    <a href="http://symfony.iut/admin/category/create">Ajouter une nouvelle catégorie</a>
{% endblock %}